@inherits LayoutComponentBase

<PageTitle>DonutShop</PageTitle>

<div class="page">

    <div class="container-fluid d-flex flex-column">
        <TopNavBar/>
    </div>

    <div class="container-fluid flex-grow-1">
        @Body
    </div>

    <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
        <p class="mb-0 py-2"> DonutShop App Built Using Blazor Server By Tanya ADISSIN </p>
    </footer>

</div>

@* <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main> *@